@charset "UTF-8";

* { /*configurações globais */
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */

}

body {
    background-image: linear-gradient(to right, #F0B943,#FFCD61);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #69572ec4 ;
}

h1 {
    color: #A3791D;
    text-align: center;
    text-shadow: 1px 1px 2px #49402c;
}

h2 {
    color: #0D42A3;
}

p {
    text-align: justify;
}
